---
layout: landing
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<img style="max-height: 200px; max-width: 80%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px" src="{{ site.logo }}" alt="{{ site.title }}" />
		<!--<h2>{{ site.title }}</h2>-->
		<h2>{{ site.headline }}</h2><p>
			By <a href="{{ site.project-url }}">{{ site.owner }}</a>
		</p>
		<!--<ul class="actions">
			<li><a href="#" class="button special">Activate</a></li>
		</ul>-->
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- Section One - Project Brief -->
<section id="one" class="wrapper style4 special">
	<div class="inner">
		<header class="major">
			<p>{{ site.description }}</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-code major style3"><span class="label">Dedication</span></span></li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Passion</span></span></li>
			<li><span class="icon fa-diamond major style1"><span class="label">Innovation</span></span></li>
		</ul>
	</div>
</section>
<!-- End Section One -->

{% if site.data.paragraphs.size > 0 %}
<!-- Section Two - Paragraphs -->
<section id="two" class="wrapper alt style4">
	{% for paragraph in site.data.paragraphs %}
	<section class="spotlight">
		<div class="image">
			<img src="{{ paragraph.image }}" alt="" />
		</div>
		<div class="content">
			<h2>{{ paragraph.title }}</h2>
			<p>{{ paragraph.description }}</p>
		</div>
	</section>
	{% endfor %}
</section>
{% endif %}
<!-- End Section Two -->

{% if site.data.features.items.size > 0 %}
<!-- Section Three - Features -->
<section id="three" class="wrapper style4 special">
	<div class="inner">
		<header class="major">
			<h2>{{ site.data.features.header }}</h2>
			<p>{{ site.data.features.intro }}</p>
		</header>
		<ul class="features">
		{% for feature in site.data.features.items %}
			<li class="icon {{ feature.icon }}">
				<h3>{{ feature.title }}</h3>
				<p>{{ feature.description }}</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endif %}

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Interested?</h2>
			<p>Visit the Information Business website for a detailed roadmap and to explore our other projects.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="{{ site.contact-url }}" class="button fit special">Contact Us</a></li>
			<li><a href="{{ site.project-url }}" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>
